.filters{
    display: flex;
    flex-direction: row;
    align-items: center;
    width:  auto;
    height: auto;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.alph, .damage, .type{
    display: grid;
    place-content: center;
}

.btn{
    margin-top:3em;
    border-radius: 5px;
}

